<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="top_nav">
    <div th:if="${#authorization.expr('isAuthenticated()')}">
<!--        <nav class="navbar navbar-expand-lg bg-light" sec:authorize="hasAuthority('seller')">-->
        <nav class="navbar navbar-expand-lg bg-light" th:if="${#authorization.expr('hasAuthority(''seller'')')}">
            <div class="container-fluid">
                <!---->
                <span th:if="${member}">
                    <span th:if="${member.isTodayIsBirthday()}">
                        <img th:src="@{/image/birthdayImage/logo.png}" alt="" width = "40px" height = "40px">
                    </span>
                </span>
                <a class="navbar-brand" th:href="@{/}" style="color: green;">With Plants</a> <!---->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/plant}">Plant Book</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                My Info
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/shop/new}">새 상품 등록하기</a></li>
                                <li><a class="dropdown-item" th:href="@{/shop/my}">나의 상품 목록</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/member/logout}">로그아웃</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" th:action="@{/search}" method="post">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg bg-light" th:unless="${#authorization.expr('hasAuthority(''seller'')')}">
            <div class="container-fluid">
                <span th:if="${member}">
                    <span th:if="${member.isTodayIsBirthday()}">
                        <img th:src="@{/image/birthdayImage/logo.png}" alt="" width = "40px" height = "40px">
                    </span>
                </span>
                <a class="navbar-brand" th:href="@{/}" style="color: green;">With Plants</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/plant}">Plant Book</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                My Info
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/plant/list}">식물 관리</a></li>
                                <li><a class="dropdown-item" th:href="@{/shop/order}">주문 목록</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/member/logout}">로그아웃</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" th:action="@{/search}" method="post">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div th:unless="${#authorization.expr('isAuthenticated()')}">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}" style="color: green;">With Plants</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/plant}">Plant Book</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Login
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/member/login}">로그인</a></li>
                                <li><a class="dropdown-item" th:href="@{/member/new}">회원가입</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" th:action="@{/search}" method="post">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <br>
</div>

</body>
</html>